.group-child4,
.movie-sec-3,
.movies2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1483.7px;
  height: 224.1px;
}
.group-child4,
.movie-sec-3 {
  top: 1471.6px;
  left: 53px;
}
.group-child4 {
  top: 1760.8px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1590.1px;
  height: 223.2px;
}
.connect-us,
.information,
.manage {
  position: absolute;
  top: 1808.2px;
  left: 358.6px;
  display: inline-block;
  color: var(--color-tomato);
  width: 142.5px;
  height: 29.5px;
}
.information,
.manage {
  left: 846.4px;
  width: 97.2px;
}
.information {
  left: 1291.2px;
  width: 143.6px;
}
.about,
.career,
.contact-us,
.help-center {
  position: absolute;
  top: 1847.2px;
  left: 358.6px;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 42px;
  height: 14.7px;
}
.career,
.contact-us,
.help-center {
  top: 1894.4px;
  width: 76.2px;
}
.career,
.contact-us {
  top: 1918px;
  width: 46.4px;
}
.contact-us {
  top: 1870.8px;
  left: 359.4px;
  width: 70.7px;
}
.account,
.buy-gift-card,
.manage-account,
.redeem-gift-card {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 55.2px;
  height: 14.7px;
}
.buy-gift-card,
.manage-account,
.redeem-gift-card {
  top: 47.1px;
  width: 85px;
}
.manage-account,
.redeem-gift-card {
  top: 70.7px;
  width: 111.5px;
}
.manage-account {
  top: 23.6px;
  width: 104.9px;
}
.account-parent {
  position: absolute;
  top: 1847.2px;
  left: 846.4px;
  width: 111.5px;
  height: 85.4px;
  font-size: var(--font-size-xs);
}
.cookies,
.faq,
.privacy,
.terms-condition {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 49.7px;
  height: 14.7px;
}
.cookies,
.faq,
.terms-condition {
  top: 47.1px;
  width: 53px;
}
.faq,
.terms-condition {
  top: 70.7px;
  width: 29.8px;
}
.terms-condition {
  top: 23.6px;
  width: 113.7px;
}
.privacy-parent {
  position: absolute;
  top: 1847.2px;
  left: 1291.2px;
  width: 113.7px;
  height: 85.4px;
  font-size: var(--font-size-xs);
}
.mask-group-parent {
  width: 100%;
  position: relative;
  height: 1984px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-overpass);
}
