
.flix {
    color: tomato;
  }
  .watchflix,
  .watchflix1 {
    position: absolute;
    top: 21px;
    left: 49px;
    font-family: oswald;
  }
  .watchflix1 {
    top: 1851px;
    left: 48px;
    font-size: 32px;
  }
  .documentaries,
  .tv-series {
    position: absolute;
    top: 1.5px;
    left: 116.3px;
  }
  .documentaries {
    top: 0;
    left: 245.3px;
  }
  .categories,
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 425.3px;
  }
  .rectangle-div {
    top: 24.8px;
    left: 0;
    background-color: tomato;
    width: 24px;
    height: 3.8px;
  }
  .movies-parent {
    position: absolute;
    top: 0.8px;
    left: 0;
    width: 59px;
    height: 28.5px;
  }
  .homepage-inner,
  .tv-series-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 514.3px;
    height: 29.3px;
  }
 