.title
{
  color: white;
  font-style: bold;
  font-size: 1.25rem; 
  padding: 1rem;
}
/* Regular CSS */
.custom-width {
    width: 160px;
  }
  
  @media (min-width: 640px) {
    .custom-width {
      width: 200px;
    }
  }
  
  @media (min-width: 768px) {
    .custom-width {
      width: 240px;
    }
  }
  
  @media (min-width: 1024px) {
    .custom-width {
      width: 280px;
    }
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .relative {
    position: relative;
  }
  
  .padding-2 {
    padding: 0.5rem; /* Corresponding size for p-2 in Tailwind CSS */
  }
  
  /* Regular CSS */
.absolute-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease; /* Adding transition for smooth effect */
  }
  
  .absolute-overlay:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
  }
  
  .absolute-overlay.text-white {
    color: white;
  }
  
  /* Regular CSS */
.full-width {
    width: 100%;
  }
  
  .auto-height {
    height: auto;
  }
  
  .block {
    display: block;
  }
  

  /* Regular CSS */
.full-width {
    width: 100%;
  }
  
  .full-height {
    height: 100%;
  }
  
  .overflow-x-scroll {
    overflow-x: scroll;
  }
  
  .whitespace-nowrap {
    white-space: nowrap;
  }
  
  .scroll-smooth {
    scroll-behavior: smooth;
  }
  
  .scrollbar-hide {
    scrollbar-width: thin;
    overflow: -moz-scrollbars-none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .relative {
    position: relative;
  }
  .homepage {
    background-color:black;
  }